/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */
/* @import url('https://db.onlinewebfonts.com/c/5c442d1d819b8d9a7edc112c2665ef93?family=Output+Sans+Regular'); */

@font-face {
  font-family: 'Output Sans Regular';
  src: url('/fonts/OutputSans%20Regular.ttf') format('truetype');
}

* {
  font-family: 'Output Sans Regular', sans-serif;
}

.filepond--item {
  /* width: calc(50% - 0.5em); */
  background-size: cover;
  object-fit: cover;
  width: 100%;
}

.filepond--root {
  font-size: 1.3em;
}

.table-animate {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: skeleton 1s linear infinite;
}

@keyframes skeleton {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
